<h1>Update <%= @stage.name() %></h1>

<form action="/stages/<%= @stage.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="name">Rename stage</label>
  <input type="text" name="name" id="name">

  <label for="artist">Update artist</label>
  <input type="text" name="artist" id="artist">

  <button type="submit">Update</button>
</form>

<p><a href="/stages">Return to stage list</a></p>

<form action="/stages/<%= @stage.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <button type="submit">Delete stage</button>
</form>
