<h1>Add a new stage</h1>

<form action="/stages" method="post">
  <div class="form-group">
    <label for="stage_name">stage name</label>
    <input type="text" name="stage_name" id="n" class="form-control">
    <label for="stage_artist">Artist</label>
    <input type="text" name="stage_artist" id="n1" class="form-control">
  </div>
  <button type="submit" name='add_stage' class="btn">Go!</button>
</form>
