<h1>Search Results</h1>
<% if @astage.any? %>
<ul>
  <% @astage.each do |stage| %>
  <li><a href="/stages/<%= stage.id %>"><%=stage.name %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no shows to display.</p>
<% end %>
